.main-content {
  transform: translateY(-110px);
  padding-bottom: 50px;
  position: relative;
  z-index: 10;
  background: linear-gradient(to bottom, transparent 0%, #141414 100px);

  h4 {
    color: #e5e5e5;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  > div {
    margin-bottom: 3rem;
  }
}
